/* Pré-configuração de cores */
:root {
    --header-black: #1c1c1c;
    --title-black: #2f2f2f;
    --logo-black: #4f4f4f;
    --dark-purple: #1b001b; 
    --purple: #8B008B; 
    --light-purple: #fd11fd;
    --lightest-purple: #ff9cff;
    --dark-blue: #01001a; 
    --blue: #00009f; 
    --light-blue: #006ce8;
    --dark-green: #001c00;
    --green: #008200;
    --dark-yellow: #1b1b00;
    --yellow: #888800;
    --light-yellow: #fffc51;
    --h1-green: #14e714;
    --lime-green: #58f858;
    --lightest-green: #b3ffb3;
    --footer-white: #7d7d7d;
    --footer-light-white: #d6d6d6;
    --white: #f0f0f0;
}

/* Configurações gerais */
* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, var(--dark-green), var(--dark-purple), var(--dark-blue), var(--dark-yellow), var(--header-black));
}

#menu {
    height: 100%;
    width: 275px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-black);
    border-right: solid 1px var(--footer-white);
    padding-top: 3%;
}

#menu nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu a {
    margin-bottom: 30px;
    color: var(--footer-white);
    font-size: 20px;
    transition: 0.7s ease;
}

/* Ao passar o mouse em cima */
#menu a:hover, a:focus {
    font-size: 22px;
}

#a-home {
    transition: 0.7s ease;
}

#a-home:hover, #a-home:focus {
    color: var(--lime-green);
}

#a-sobre-mim {
    transition: 0.7s ease;
}

#a-sobre-mim:hover, #a-sobre-mim:focus {
    color: var(--light-purple);
}

#a-portfolio {
    transition: 0.7s ease;
}

#a-portfolio:hover, #a-portfolio:focus {
    color: var(--light-blue);
}

#a-extra {
    transition: 0.7s ease;
}

#a-extra:hover, #a-extra:focus {
    color: var(--light-yellow);
}

#a-contatos {
    transition: 0.7s ease;
}

#a-contatos:hover, #a-contatos:focus {
    color: var(--footer-light-white);
}

#menu-logo {
    font-size: 15px;
    margin-bottom: 30%;
}

#menu-logo img {
    background-image: radial-gradient(var(--white), var(--footer-white));
    border: solid 3px var(--title-black);
    border-radius: 50%;
    padding: 25px;
    transition: 0.7s ease;
}

/* Ao passar o mouse na imagem */
#menu-logo img:hover, img:focus {
    border: solid 3px var(--footer-light-white);
    width: 160px;
    height: 140px;
}

main, footer {
    color: var(--white);
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    padding-left: 25%;
    text-align: center;
}

main section {
    margin-bottom: 45%;
    width: 100%;
}

main, footer > h1, h4 {
    margin-bottom: 3%;
    margin-top: 5%;
}

main, footer > h1, i {
    text-indent: 15px;
}

main h1 {
    background-color: var(--header-black);
    padding: 15px;
    margin-bottom: 10%;
    padding-right: 30px;
    transition: 0.7s ease;
}

#home {
    width: 90%;
    padding: 50px;
    background-color: var(--title-black);
    border: solid 5px var(--green);
    transition: 0.7s ease;
}

#home:hover, #home:focus {
    border: solid 5px var(--h1-green);
}

#home h1 {
    width: 210px;
    border: solid 3px var(--green);
    transition: 0.7s ease;
}

#home h1:hover, h1:focus {
    width: 230px;
    padding: 3%;
    border: solid 3px var(--h1-green);
}

#home > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#home-texto{
    background-color: var(--header-black);
    padding: 20px;
    width: 60%;
    margin-top: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;

    /* Fazer o texto aparecer */
    overflow-y: hidden;
    max-height: 45px;
    transition: 0.7s ease;
}

#home-texto:hover, #home-texto:focus {
    max-height: 350px;
    border: solid 1px var(--h1-green);
}

#home-texto h4 {
    font-size: 30px;
}

#home-image img {
    background-image: radial-gradient(var(--lightest-green), var(--lime-green));
    border: solid 5px var(--green);
    border-radius: 50%;
    filter: grayscale(50);
    transition: 0.7s ease;
}

#home-image img:hover, img:focus {
    width: 240px;
    filter: none;
    border: solid 5px var(--lime-green);
}

#sobre-mim {
    width: 90%;
    padding: 50px;
    background-color: var(--title-black);
    border: solid 5px var(--purple);
    transition: 0.7s ease;
}

#sobre-mim:hover {
    border: solid 5px var(--light-purple);
}

#sobre-mim h1 {
    width: 280px;
    border: solid 3px var(--purple);
    transition: 0.7s ease;
}

#sobre-mim h1:hover, h1:focus {
    width: 300px;
    padding: 3%;
    border: solid 3px var(--light-purple);
}

#sobre-mim-info > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
}

#sobre-mim-info ul {
    margin-bottom: 5%;
}

#sobre-mim-info li {
    overflow-y: hidden;
    max-height: 60px;
    transition:  1s ease;

    background-color: var(--header-black);
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    margin-bottom: 50px;
}

#sobre-mim li:hover, li:focus {
    max-height: 250px;
    border: solid 1px var(--light-purple);
}

#sobre-mim-texto {
    width: 100%;
    background-color: var(--header-black);
    border: solid 1px var(--purple);
    padding: 20px;
    transition: 0.7s ease;
}

#sobre-mim-texto:hover, #sobre-mim-texto:focus {
    border: solid 1px var(--light-purple);
}

#sobre-mim-texto p {
    width: 80%;
    display: flex;
    text-align: center;
}

#sobre-mim-img {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

#sobre-mim-img img {
    border: solid 5px var(--purple);
    border-radius: 50%;
    background-image: radial-gradient(var(--lightest-purple), var(--light-purple));
    transition: 0.7s ease;
}

#sobre-mim-img img:hover, img:focus {
    border: solid 5px var(--light-purple);
    width: 330px;
}

#portfolio {
    width: 90%;
    padding: 50px;
    background-color: var(--title-black);
    border: solid 5px var(--blue);
    transition: 0.7s ease;
}

#portfolio:hover, #portfolio:focus {
    border: solid 5px var(--light-blue);
}

#portfolio h1 {
    width: 250px;
    border: solid 3px var(--blue);
    transition: 0.7s ease;
}

#portfolio h1:hover, h1:focus {
    width: 270px;
    padding: 3%;
    border: solid 3px var(--light-blue);
}

#portfolio-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

#portfolio-1-titulo {
    font-size: 25px;
    width: 400px;
    padding: 7px;
    text-align: center;
    background-color: var(--header-black);
    border: solid 1px var(--blue);
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#portfolio-1-titulo:hover, #portfolio-1-titulo:focus {
    width: 420px;
    padding: 12px;
    border: solid 1px var(--light-blue);
}

#portfolio-1-img {
    width: 590px;
    text-align: center;
    background-color: var(--header-black);
    padding: 30px;
    transition: 0.7s ease;
}

#portfolio-1-img:hover, #portfolio-1-img:focus {
    border: solid 1px var(--light-blue);
}

#portfolio-1-img ul {
    display: flex;
    flex-direction: row;
}

#portfolio-1-img li {
    text-indent: 50px;
}

#portfolio-1-img img {
    transition: 0.7s ease;
}

#portfolio-1-img img:hover, img:focus {
    width: 80px;
    height: 81px;
}

#portfolio-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

#portfolio-2-titulo {
    font-size: 25px;
    width: 270px;
    padding: 7px;
    text-align: center;
    background-color: var(--header-black);
    border: solid 1px var(--blue);
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#portfolio-2-titulo:hover, #portfolio-2-titulo:focus {
    width: 310px;
    padding: 12px;
    border: solid 1px var(--light-blue);
}

#portfolio-2-img {
    width: 455px;
    text-align: center;
    background-color: var(--header-black);
    padding: 30px;
    transition: 0.7s ease;
}

#portfolio-2-img:hover, #portfolio-2-img:focus {
    border: solid 1px var(--light-blue);
}

#portfolio-2-img ul {
    display: flex;
    flex-direction: row;
}

#portfolio-2-img li {
    text-indent: 40px;
}

#portfolio-2-img img {
    transition: 0.7s ease;
}

#portfolio-2-img img:hover, img:focus {
    width: 80px;
    height: 81px;
}

#portfolio-projetos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio-projetos-titulo {
    font-size: 25px;
    width: 220px;
    padding: 10px;
    text-align: center;
    background-color: var(--header-black);
    border: solid 1px var(--blue);
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#portfolio-projetos-titulo:hover, #portfolio-projetos-titulo:focus {
    width:240px;
    padding: 15px;
    border: solid 1px var(--light-blue);
}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    transition: 0.7s ease;
  }

  .slideshow-container:hover, .slideshow-container:focus {
    max-width: 820px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  .mySlides > a img {
    border: solid 2px var(--blue);
    transition: 0.7s ease;
  }

  .mySlides > a img:hover, a img:focus {
    border: solid 2px var(--light-blue);
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    margin-top: -22px;
    padding: 16px;
    background-color: var(--header-black);
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    left: 20px;
    border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: -10px;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--title-black);
  }
  
  /* Caption text */
  .text {
    background-color: var(--header-black);
    color: var(--white);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 3px;
    width: 100%;
    left: 15px;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    background-color: var(--header-black);
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 20px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

#extra {
    width: 90%;
    padding: 50px;
    background-color: var(--title-black);
    border: solid 5px var(--yellow);
    transition: 0.7s ease;
}

#extra:hover, #extra:focus {
    border: solid 5px var(--light-yellow);
}

#extra h1 {
    width: 190px;
    border: solid 3px var(--yellow);
    transition: 0.7s ease;
}

#extra h1:hover, h1:focus {
    width: 210px;
    padding: 3%;
    border: solid 3px var(--light-yellow);
}

#cursos-lazeres {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 7%;
}

#cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7%;
}

#cursos-titulo {
    font-size: 25px;
    width: 220px;
    padding: 7px;
    background-color: var(--header-black);
    border: solid 1px var(--yellow);
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#cursos-titulo:hover, #cursos-titulo:focus {
    width: 240px;
    padding: 12px;
    border: solid 1px var(--light-yellow);
}

#mec-dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

#mec-indus {
    background-color: var(--header-black);
    color: var(--footer-white);
    width: 77%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 150px;
    transition: 0.7s ease;
}

#mec-indus:hover, #mec-indus:focus {
    color: var(--white);
    border: solid 1px var(--light-yellow);
}

#mec-indus ul {
    width: 500px;
    margin-bottom: 20px;
}

#mec-indus li > h4 {
    font-size: larger;
    margin-bottom: 7%;
}

#mec-indus img {
    padding: 7px;
    transition: 0.7s ease;
}

#mec-indus img:hover, img:focus {
    width: 320px;
}

#mec-indus  li > a {
    color: var(--footer-white);
    transition: 0.7s ease;
}

#mec-indus li > a:hover, li > a:focus {
    color: var(--white);
    font-size: 21px;
}

#dev-tec {
    background-color: var(--header-black);
    color: var(--footer-white);
    width: 77%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 150px;
    transition: 0.7s ease;
}

#dev-tec:hover, #dev-tec:focus {
    color: var(--white);
    border: solid 1px var(--light-yellow);
}

#dev-tec ul {
    width: 560px;
    margin-bottom: 20px
}

#dev-tec li > h4 {
    font-size: larger;
    margin-bottom: 7%;
}

#dev-tec img {
    padding: 7px;
    transition: 0.7s ease;
}

#dev-tec img:hover, img:focus {
    width: 320px;
}

#dev-tec  li > a {
    color: var(--footer-white);
    transition: 0.7s ease;
}

#dev-tec li > a:hover, li > a:focus {
    color: var(--white);
    font-size: 21px;
}

#lazeres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lazeres-titulo {
    font-size: 25px;
    width: 210px;
    padding: 7px;
    background-color: var(--header-black);
    border: solid 1px var(--yellow);
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#lazeres-titulo:hover, #lazeres-titulo:focus {
    width: 230px;
    padding: 12px;
    border: solid 1px var(--light-yellow);
} 

#lazeres-topicos ul {
    color: var(--footer-white);
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    transition: 0.7s ease;
}

#lazeres-topicos li {
    background-color: var(--header-black);
    border: solid 1px var(--yellow);
    width: 190px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    transition: 0.7s ease;
}

#lazeres-topicos li:hover, li:focus {
    font-size: 21.3px;
    border: solid 1px var(--light-yellow);
    color: var(--white);
    width: 200px;
    padding: 12px;
}

#lazeres-topicos li > img {
    margin-bottom: 10%;
    transition: 0.7s ease;
}

#lazeres-topicos li > img:hover, li > img:focus {
    width: 120px;
    height: 121px;
}


#contatos {
    width: 90%;
    padding: 50px;
    background-color: var(--title-black);
    border: solid 5px var(--footer-white);
    transition: 0.7s ease;
}

#contatos:hover, #contatos:focus {
    border: solid 5px var(--footer-light-white);
}

#contatos h1 {
    width: 220px;
    padding: 15px;
    margin-bottom: 10%;
    background-color: var(--header-black);
    border: solid 3px var(--footer-white);
    transition: 0.7s ease;
}

#contatos h1:hover, h1:focus {
    width: 240px;
    padding: 3%;
    border: solid 3px var(--footer-light-white);
}

#contatos-topicos ul {
    display: flex;
    color: var(--footer-white);
    display: flex;
    justify-content: space-evenly;
    transition: 0.7s ease;
}

#contatos-topicos li {
    background-color: var(--header-black);
    border: solid 1px var(--footer-white);
    width: 160px;
    height: 160px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    transition: 0.7s ease;
}

#contatos-topicos li:hover, li:focus {
    border: solid 1px var(--footer-light-white);
    color: var(--white);
    width: 180px;
    height: 180px;
    padding: 12px;
}

#contatos-topicos li > img {
    margin-bottom: 5%;
    transition: 0.7s ease;
}

#contatos-topicos li > img:hover, li > img:focus {
    width: 80px;
    height: 81px;
}

#contatos-topicos  li > a {
    color: var(--footer-white);
    transition: 0.7s ease;
}

#contatos-topicos li > a:hover, li > a:focus {
    color: var(--white);
    font-size: 22px;
}

@media screen and (max-width: 1029.33px) {
    #menu {
        width: 175px;
    }

    #menu-logo img {
        width: 120px;
        height: 100px;
    }

    #menu-logo img:hover, img:focus {
        width: 140px;
        height: 120px;
    }

    #home, #sobre-mim, #portfolio, #extra, #contatos {
        width: 70%;
    }

    #home-texto {
        width: 70%;
    }

    #home-image img {
        width: 200px;
    }

    #home-image img:hover, img:focus {
        width: 220px;
    }
}

@media screen and (max-width: 920px) {
    #home > div > div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #home-texto {
        width: 90%;
        font-size: 17px;
    }
}

@media screen and (max-width: 750px) {
    #home-texto {
        display: none;
    }

    #home, #sobre-mim, #portfolio, #extra, #contatos {
        width: 50%;
    }
}